[Unit]
Description=Set the live launcher user password
After=live-config.service
Before=getty@tty1.service getty.target
ConditionKernelCommandLine=boot=live

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/set-live-user-password

[Install]
WantedBy=getty.target
